# -----------------------------------------------------------------------------
# Operating System
# -----------------------------------------------------------------------------

.DS_Store
Thumbs.db

# -----------------------------------------------------------------------------
# Editors
# -----------------------------------------------------------------------------

.vscode/
.idea/

# -----------------------------------------------------------------------------
# Python
# -----------------------------------------------------------------------------

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# -----------------------------------------------------------------------------
# Terraform
# -----------------------------------------------------------------------------

**/.terraform/
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
# .terraform.lock.hcl

# -----------------------------------------------------------------------------
# Ansible
# -----------------------------------------------------------------------------

*.retry

# -----------------------------------------------------------------------------
# Kubernetes
# -----------------------------------------------------------------------------

kubeconfig
*.kubeconfig

# -----------------------------------------------------------------------------
# Logs
# -----------------------------------------------------------------------------

*.log

# -----------------------------------------------------------------------------
# Temporary files
# -----------------------------------------------------------------------------

tmp/
temp/

# -----------------------------------------------------------------------------
# Backup files
# -----------------------------------------------------------------------------

*.bak
*.swp
*.swo

# -----------------------------------------------------------------------------
# Archives
# -----------------------------------------------------------------------------

*.zip
*.tar
*.gz